* {
  box-sizing: border-box;
  hyphens: auto;
  font-family: 'Fira Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

a:hover {
  text-decoration: none; }

/*--------------------------*/
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.87);
  z-index: 10; }
  .overlay h1,
  .overlay h2,
  .overlay h3 {
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 3px 3px 5px #41B3A3;
    animation: fade .75s ease-in; }
  .overlay h1 {
    font-family: 'Bad Script', cursive;
    top: 4.5rem;
    letter-spacing: .25rem;
    font-size: 4rem;
    margin: 2.5rem .5rem; }
  .overlay h2,
  .overlay h3 {
    letter-spacing: .2rem;
    margin: 1rem 0;
    top: 6rem;
    font-size: 1.3rem; }
  .overlay #arrow {
    display: block;
    margin: auto;
    position: relative;
    cursor: pointer;
    top: 15.5rem;
    opacity: 0;
    animation: slide-in 1.5s ease-in .7s forwards; }
    .overlay #arrow path {
      fill: white; }
      .overlay #arrow path:active {
        fill: #E8A87B; }

.tile-background {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  .tile-background img {
    width: 20%;
    height: 25%; }

/*---------- ------ ----------------*/
.nav-sect {
  height: 100vh; }
  .nav-sect h3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.75rem; }
  .nav-sect .flex-items {
    display: flex;
    justify-content: space-between;
    background-color: #41B3A3;
    width: 70%;
    height: 4rem;
    margin: 2rem auto;
    padding: .4rem 1.5rem;
    border-radius: .25rem;
    color: white; }
    .nav-sect .flex-items:active {
      border: 3px dashed #E8A87B;
      border-radius: 3.5rem;
      transform: scale(1.3); }
    .nav-sect .flex-items span {
      margin-top: .5rem; }

.about-sect {
  height: 100vh;
  padding: .5rem;
  background-color: #f6fff2;
  border-top: 1px solid black; }
  .about-sect h1 {
    font-family: 'Bad Script', cursive;
    font-size: 2.4rem;
    margin-top: .5rem; }
  .about-sect img {
    float: left;
    margin: .5rem 1rem .2rem 0;
    width: 55%;
    border: 3px solid #41B3A3; }
  .about-sect p:nth-child(2) {
    font-weight: bold;
    margin-top: .75rem; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slide-in {
  0% {
    transform: translateY(-38rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes ring {
  0% {
    transform: rotate(-20deg); }
  50% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(0deg); } }
/* --------- ----------- -------------*/
#globe-svg {
  transition: transform .5s ease-in; }

.about-me:hover svg {
  transform: rotate(360deg); }

.my-skills:hover #line-1,
.my-skills:hover #line-2,
.my-skills:hover #line-3,
.my-skills:hover #line-4,
.my-skills:hover #line-5,
.my-skills:hover #bulb {
  fill: yellow; }

#top,
#body,
#backarrow,
#forwardarrow,
#backslash {
  transition: fill .4s ease-in; }

.my-portfolio:hover #top {
  fill: #d1bd0b; }

.my-portfolio:hover #body {
  fill: #d75e26; }

.my-portfolio:hover #backarrow,
.my-portfolio:hover #forwardarrow,
.my-portfolio:hover #backslash {
  fill: #edd3ca; }

.contact-me:hover #phone-svg {
  animation: ring .75s ease infinite forwards; }

.contact-me:hover #wave-1,
.contact-me:hover #wave-2,
.contact-me:hover #wave-3 {
  fill: red; }

#git-logo {
  transition: fill .4s ease; }

.github:hover #git-logo {
  fill: black; }

/*# sourceMappingURL=styles.css.map */
