/* ----- universal styles ------ */
* {
  box-sizing: border-box;
  hyphens: auto;
  font-family: 'Fira Sans', sans-serif; }

main {
  scroll-behavior: smooth; }

a:hover {
  text-decoration: none; }

/*-------------------------------------*/
/*------ project modal styles ---------*/
#exampleModal {
  padding: 0 !important; }
  #exampleModal .modal-header {
    background-color: #50719c; }
    #exampleModal .modal-header span {
      color: white;
      font-weight: bold; }
  #exampleModal .modal-body {
    padding-bottom: 0 !important; }
    #exampleModal .modal-body span {
      font-size: .9rem; }
    #exampleModal .modal-body p,
    #exampleModal .modal-body span {
      margin: .75rem auto;
      max-width: 350px; }
      @media (min-width: 768px) {
        #exampleModal .modal-body p,
        #exampleModal .modal-body span {
          font-size: 1rem; } }
  #exampleModal p,
  #exampleModal span,
  #exampleModal #modal-pic {
    display: block; }
  #exampleModal #modal-pic {
    margin: 0 auto 1rem auto;
    width: 100%;
    max-width: 380px;
    max-height: 340px; }
  #exampleModal .modal-footer {
    display: flex;
    justify-content: space-around; }
    #exampleModal .modal-footer a {
      display: flex;
      justify-content: center; }
      #exampleModal .modal-footer a img {
        border-radius: 2.75rem;
        box-shadow: 0 0 12px #5cc0ee;
        width: 60%;
        transition: transform .1s ease; }
        #exampleModal .modal-footer a img:active {
          transform: scale(1.2); }

/*-----------------------------------------------------*/
/*------------ top page overlay styles-----------------*/
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.94); }
  .overlay h1,
  .overlay h2,
  .overlay h3 {
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 6px 6px 16px #5cc0ee;
    animation: fade .75s ease-in; }
  .overlay h1 {
    top: 4.5rem;
    letter-spacing: .25rem;
    font-size: 4rem;
    margin: 2.5rem .5rem; }
    @media (min-width: 768px) {
      .overlay h1 {
        font-size: 5rem; } }
    @media (min-width: 1324px) {
      .overlay h1 {
        font-size: 6rem; } }
  .overlay h2 {
    font-size: 1.35rem; }
    @media (min-width: 768px) {
      .overlay h2 {
        font-size: 1.75rem; } }
    @media (min-width: 1324px) {
      .overlay h2 {
        font-size: 2.25rem; } }
  .overlay h3 {
    font-size: 1.1rem; }
    @media (min-width: 768px) {
      .overlay h3 {
        font-size: 1.25rem; } }
    @media (min-width: 1324px) {
      .overlay h3 {
        font-size: 1.75rem; } }
  .overlay h2,
  .overlay h3 {
    letter-spacing: .4rem;
    margin: 2.5rem 0;
    top: 6rem; }
  .overlay #arrow {
    display: block;
    margin: auto;
    position: relative;
    cursor: pointer;
    top: 10.5rem;
    opacity: 0;
    animation: slide-in 1.5s ease-in .7s forwards;
    border: 2px solid #5cc0ee;
    border-radius: 1rem;
    padding: .75rem;
    width: 55px;
    height: 50px; }
    .overlay #arrow path {
      fill: white; }
      .overlay #arrow path:active {
        fill: #50719c; }
    @media (min-width: 321px) {
      .overlay #arrow {
        top: 11.5rem; } }
    @media (min-width: 1024px) {
      .overlay #arrow {
        width: 70px;
        height: 65px; } }

.tile-background {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .tile-background img {
    width: 20%;
    height: 20%; }

/*----------------------------------------*/
/*------------- PAGE STYLES --------------*/
@media (min-width: 768px) {
  .nav-sect,
  .about-sect,
  .skills-sect,
  .overlay {
    height: 100vh; } }
@media (min-width: 768px) and (min-height: 1023px) {
  .nav-sect,
  .about-sect,
  .skills-sect,
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.about-sect,
.skills-sect,
.nav-sect {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 768px) and (min-height: 1023px) {
  .overlay h1 {
    top: 0; } }

.skills-sect,
.port-sect,
.contact-sect {
  padding: 1rem .5rem;
  border-top: 1px solid black; }
  @media (min-width: 768px) {
    .skills-sect,
    .port-sect,
    .contact-sect {
      padding: 2rem .75rem; } }

h1 {
  font-family: 'Bad Script', cursive; }

p {
  font-size: .9rem; }

/*--------- ---------------------- -------------*/
/*--------- Navigation section styles ----------*/
.flex-items {
  cursor: pointer; }
  .flex-items:active {
    box-shadow: inset 0px 0px 18px white; }

.nav-sect {
  padding: 1.25rem 0;
  margin: 0 auto;
  max-width: 590px; }
  @media (min-width: 768px) {
    .nav-sect {
      padding: 2.5rem 0; } }
  .nav-sect h3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-size: 1.75rem; }
    @media (min-width: 768px) {
      .nav-sect h3 {
        font-size: 2.5rem; } }
    @media (min-width: 1324px) {
      .nav-sect h3 {
        font-size: 3rem; } }
  .nav-sect .flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(80, 113, 156, 0.97);
    width: 70%;
    height: 4rem;
    margin: 2.25rem auto;
    padding: .4rem 1.5rem;
    border-radius: .25rem;
    color: white; }
    @media (min-width: 768px) {
      .nav-sect .flex-items {
        width: 75%;
        margin: 1.3rem auto;
        height: 4.75rem; } }
    @media (min-width: 1324px) {
      .nav-sect .flex-items {
        height: 5.25rem; } }
    .nav-sect .flex-items span {
      font-family: 'Bad Script', cursive;
      font-size: 1.3rem; }
      @media (min-width: 768px) {
        .nav-sect .flex-items span {
          font-size: 1.75rem; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items span {
          font-size: 2.1rem; } }
    .nav-sect .flex-items #globe-svg {
      width: 70px;
      height: 40px;
      position: relative;
      top: .1rem;
      left: .35rem; }
      @media (min-width: 768px) {
        .nav-sect .flex-items #globe-svg {
          height: 50px; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items #globe-svg {
          height: 60px; } }
    .nav-sect .flex-items #bulb-svg {
      width: 70px;
      height: 50px;
      position: relative;
      left: .45rem;
      bottom: .35rem; }
      @media (min-width: 768px) {
        .nav-sect .flex-items #bulb-svg {
          height: 60px; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items #bulb-svg {
          height: 70px; } }
    .nav-sect .flex-items #port-svg {
      width: 50px;
      height: 50px; }
      @media (min-width: 768px) {
        .nav-sect .flex-items #port-svg {
          width: 60px;
          height: 60px; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items #port-svg {
          width: 70px;
          height: 70px; } }
    .nav-sect .flex-items #phone-svg {
      width: 50px;
      height: 40px; }
      @media (min-width: 768px) {
        .nav-sect .flex-items #phone-svg {
          height: 50px; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items #phone-svg {
          height: 60px;
          width: 60px; } }
    .nav-sect .flex-items #git-svg {
      width: 60px;
      height: 45px; }
      @media (min-width: 768px) {
        .nav-sect .flex-items #git-svg {
          height: 55px; } }
      @media (min-width: 1324px) {
        .nav-sect .flex-items #git-svg {
          height: 65px; } }

/*--------- ---------------------- ----------*/
/*--------- About Me section styles ----------*/
.about-sect {
  padding: 1.75rem 0;
  border-top: solid 1px black;
  background-color: #ecf6ff; }
  .about-sect h1 {
    font-size: 2.2rem; }
    @media (min-width: 768px) {
      .about-sect h1 {
        font-size: 3rem;
        margin-bottom: 1.75rem; } }
    @media (min-width: 1324px) {
      .about-sect h1 {
        font-size: 3.5rem; } }
  .about-sect p {
    margin-bottom: .5rem; }
    @media (min-width: 768px) {
      .about-sect p {
        font-size: 1.05rem; } }
    @media (min-width: 1024px) {
      .about-sect p {
        margin-bottom: 1.75rem; } }
    @media (min-width: 1324px) {
      .about-sect p {
        font-size: 1.2rem; } }
  .about-sect img {
    float: left;
    margin: .5rem 1rem .2rem 0;
    width: 60%;
    max-width: 300px; }
    @media (min-width: 768px) {
      .about-sect img {
        margin: .5rem 1.75rem 1.25rem 0; } }

/*--------- ---------------------- ----------*/
.about-content,
.skills-content {
  max-width: 920px;
  width: 90%;
  margin: 0 auto; }

/*--------- ---------------------- ----------*/
.skills-sect img,
.about-sect img {
  border-radius: 9rem;
  transition: border-radius .3s ease, transform .4s ease-out; }
  .skills-sect img:active,
  .about-sect img:active {
    border-radius: 0;
    transform: scale(1.04); }
  @media (min-width: 1024px) {
    .skills-sect img:hover,
    .about-sect img:hover {
      border-radius: 0;
      transform: scale(1.03); } }

/*--------- Skills section styles ----------*/
.skills-sect {
  background: url("../img/skills.jpg");
  background-size: 100%;
  box-shadow: inset 0 0 0 2000px rgba(80, 113, 156, 0.97); }
  .skills-sect h1 {
    text-align: center; }
    @media (min-width: 768px) {
      .skills-sect h1 {
        font-size: 3.25rem; } }
    @media (min-width: 1324px) {
      .skills-sect h1 {
        font-size: 4rem; } }
  .skills-sect p:nth-of-type(1),
  .skills-sect p:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.05rem;
    margin: 1.25rem 0; }
    @media (min-width: 768px) {
      .skills-sect p:nth-of-type(1),
      .skills-sect p:nth-of-type(2) {
        margin: 1.5rem 0;
        font-size: 1.3rem; } }
    @media (min-width: 1324px) {
      .skills-sect p:nth-of-type(1),
      .skills-sect p:nth-of-type(2) {
        font-size: 1.5rem; } }
  .skills-sect h1,
  .skills-sect p {
    color: white; }
  .skills-sect p {
    text-align: left; }
  .skills-sect img {
    width: 50%;
    max-width: 250px;
    display: block;
    margin: 2rem auto 0 auto;
    box-shadow: 0px 0px 16px white; }
    @media (min-width: 768px) {
      .skills-sect img {
        margin: 0 1.75rem; } }
  .skills-sect ul {
    color: white;
    font-size: .9rem; }
    @media (min-width: 768px) {
      .skills-sect ul {
        padding: 0; } }
    .skills-sect ul li {
      margin-top: .4rem; }
    .skills-sect ul #no-style {
      font-weight: bold;
      list-style: none; }
  @media (min-width: 768px) {
    .skills-sect p,
    .skills-sect ul {
      font-size: 1.05rem; } }
  @media (min-width: 1324px) {
    .skills-sect p,
    .skills-sect ul {
      font-size: 1.25rem; } }
  @media (min-width: 768px) {
    .skills-sect .flex-skills {
      display: flex;
      align-items: center;
      margin-top: 1.5rem; } }

/*--------- ---------------------- ----------*/
/*--------- Portfolio section styles ----------*/
.port-sect {
  border-top: 2px solid black; }
  .port-sect .flex-projects {
    max-width: 1200px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .port-sect .flex-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }
  .port-sect h1,
  .port-sect h2 {
    text-align: center; }
  .port-sect h1 {
    margin-top: 1.25rem; }
    @media (min-width: 768px) {
      .port-sect h1 {
        font-size: 3.5rem;
        margin: 3rem 0 2.5rem 0; } }
    @media (min-width: 1324px) {
      .port-sect h1 {
        font-size: 4rem; } }
  .port-sect h2 {
    margin: 2rem 0 1rem 0;
    font-size: 1.1rem; }
    @media (min-width: 768px) {
      .port-sect h2 {
        margin: 2.5rem 0 2rem 0; } }
    @media (min-width: 1324px) {
      .port-sect h2 {
        font-size: 1.3rem; } }
  .port-sect img {
    display: block;
    width: 100%; }
  .port-sect p {
    font-size: 1rem; }
  .port-sect .project img,
  .port-sect .project {
    height: 25%;
    max-width: 370px; }
    @media (min-width: 768px) {
      .port-sect .project img,
      .port-sect .project {
        height: 225px; } }
    @media (min-width: 1024px) {
      .port-sect .project img,
      .port-sect .project {
        height: 250px; } }
  .port-sect .project {
    position: relative;
    width: 70%;
    box-shadow: 0px 0px 18px #5cc0ee;
    transition: transform .4s ease;
    margin: 1rem auto;
    cursor: pointer; }
    @media (min-width: 1024px) {
      .port-sect .project {
        width: 80%; } }
  .port-sect .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(73, 164, 224, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    opacity: 0;
    transition: opacity .3s ease-in; }
    .port-sect .project-overlay p {
      margin: 1rem 0 2rem 0;
      font-size: 1rem; }
      @media (min-width: 1024px) {
        .port-sect .project-overlay p {
          font-size: 1.25rem; } }
  .port-sect .project:active {
    transform: translateY(8px); }
  @media (min-width: 1024px) {
    .port-sect .project:hover {
      transform: translateY(8px); } }
  .port-sect .project:active .project-overlay {
    opacity: 1; }
  @media (min-width: 1024px) {
    .port-sect .project:hover .project-overlay {
      opacity: 1; } }

.site-underlay {
  color: white;
  background: url("../img/mac.jpeg");
  background-size: 400px;
  box-shadow: inset 0 0 0 2000px rgba(80, 113, 156, 0.94);
  border-top: 1px solid black;
  padding: 1rem 0; }
  .site-underlay .this-site {
    padding: 1.5rem 0; }
    @media (min-width: 768px) {
      .site-underlay .this-site {
        padding: 3rem 0; } }
    .site-underlay .this-site .this-site-content {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      max-width: 475px; }
      .site-underlay .this-site .this-site-content a {
        display: inline; }
      @media (min-width: 768px) {
        .site-underlay .this-site .this-site-content p {
          font-size: 1.1rem;
          margin: 2.5rem 0; } }
      .site-underlay .this-site .this-site-content h2 {
        font-family: 'Bad Script', cursive;
        font-size: 1.5rem; }
        @media (min-width: 768px) {
          .site-underlay .this-site .this-site-content h2 {
            font-size: 2.35rem; } }
      .site-underlay .this-site .this-site-content img {
        margin: 0 auto;
        border-radius: 2.4rem;
        box-shadow: 0px 0px 20px #5cc0ee;
        width: 16%;
        max-width: 250px;
        transition: transform .1s ease; }
        .site-underlay .this-site .this-site-content img:active {
          transform: scale(1.2); }

/*--------- ---------------------- ----------*/
/*--------- Contact section styles ----------*/
.contact-sect h1 {
  text-align: center; }
  @media (min-width: 768px) {
    .contact-sect h1 {
      font-size: 3rem;
      margin-bottom: 3rem; } }
.contact-sect p {
  font-size: 1rem;
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .contact-sect p {
      font-size: 1.2rem; } }
.contact-sect form {
  display: block;
  max-width: 500px;
  margin: 2rem auto; }
  .contact-sect form button {
    padding: .35rem .75rem;
    background-color: white;
    border: 2px solid #50719c;
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
    color: black; }
    @media (min-width: 768px) {
      .contact-sect form button {
        font-size: 1.1rem; } }
.contact-sect a {
  display: block;
  text-align: center;
  margin: 2.25rem 0; }

/*--------- ---------------------- ----------*/
/*------------- Footer styles ---------------*/
footer {
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #5cc0ee;
  font-size: .9rem; }
  footer a {
    color: white; }
    @media (min-width: 768px) {
      footer a {
        font-size: 1.1rem; } }
  footer span {
    color: white; }

/*--------- ---------------------- ----------*/
/*---------- Sticky footer styles -----------*/
.sticky-footer {
  display: flex;
  align-items: center;
  height: 2.25rem;
  background-color: #5cc0ee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 2.5rem);
  transition: transform .25s ease-in;
  /*- Intersect observer not supported on IE. this media query deactivates the sticky footer
  function for IE users -*/ }
  .sticky-footer:active {
    box-shadow: inset 0px 0px 20px white; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sticky-footer {
      transform: translate(0, 0); } }
  .sticky-footer a {
    display: block;
    text-align: center;
    width: 100%;
    color: white; }

.slide {
  transform: translate(0, 0rem); }

/*--------- ---------------------- ----------*/
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slide-in {
  0% {
    transform: translateY(-38rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes ring {
  0% {
    transform: rotate(-20deg); }
  50% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(0deg); } }
/* --------- ----------- -------------*/
#globe-svg {
  transition: transform .5s ease-in; }

/*----------------------*/
.about-me:active svg {
  transform: rotate(360deg); }

@media (min-width: 1024px) {
  .about-me:hover svg {
    transform: rotate(360deg); } }

/*----------------------*/
.my-skills:active #line-1,
.my-skills:active #line-2,
.my-skills:active #line-3,
.my-skills:active #line-4,
.my-skills:active #line-5,
.my-skills:active #bulb {
  fill: yellow; }

@media (min-width: 1024px) {
  .my-skills:hover #line-1,
  .my-skills:hover #line-2,
  .my-skills:hover #line-3,
  .my-skills:hover #line-4,
  .my-skills:hover #line-5,
  .my-skills:hover #bulb {
    fill: yellow; } }

/*----------------------*/
#top,
#body,
#backarrow,
#forwardarrow,
#backslash {
  transition: fill .4s ease-in; }

/*----------------------*/
.my-portfolio:active #top {
  fill: #d1bd0b; }

@media (min-width: 1024px) {
  .my-portfolio:hover #top {
    fill: #d1bd0b; } }

/*----------------------*/
.my-portfolio:active #body {
  fill: #d75e26; }

@media (min-width: 1024px) {
  .my-portfolio:hover #body {
    fill: #d75e26; } }

/*----------------------*/
.my-portfolio:active #backarrow,
.my-portfolio:active #forwardarrow,
.my-portfolio:active #backslash {
  fill: #edd3ca; }

@media (min-width: 1024px) {
  .my-portfolio:hover #backarrow,
  .my-portfolio:hover #forwardarrow,
  .my-portfolio:hover #backslash {
    fill: #edd3ca; } }

/*----------------------*/
.contact-me:active #phone-svg {
  animation: ring .75s ease infinite forwards; }

@media (min-width: 1024px) {
  .contact-me:hover #phone-svg {
    animation: ring .75s ease infinite forwards; } }

/*----------------------*/
.contact-me:active #wave-1,
.contact-me:active #wave-2,
.contact-me:active #wave-3 {
  fill: red; }

@media (min-width: 1024px) {
  .contact-me:hover #wave-1,
  .contact-me:hover #wave-2,
  .contact-me:hover #wave-3 {
    fill: red; } }

/*----------------------*/
#git-logo {
  transition: fill .4s ease; }

.github:active #git-logo {
  fill: black; }

@media (min-width: 1024px) {
  .github:hover #git-logo {
    fill: black; } }

/*# sourceMappingURL=styles.css.map */
