* {
    box-sizing: border-box;
    // border: solid 1px red;
    hyphens: auto;
    font-family: 'Fira Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a:hover {
    text-decoration: none;
}
/*--------------------------*/
.overlay {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(41, 41, 41, 0.87);  
    z-index: 10; 
    h1,
    h2,
    h3 {
        text-align: center;
        position: relative;
        color: white;
        text-shadow: 3px 3px 5px $tertiary;
        animation: fade .75s ease-in;
    }
    h1 {
        font-family: 'Bad Script', cursive;
        top: 4.5rem;       
        letter-spacing: .25rem;
        font-size: 4rem;
        margin: 2.5rem .5rem;
    }
    h2,
    h3 {
        letter-spacing: .2rem;
        margin: 1rem 0;
        top: 6rem;
        font-size: 1.3rem;
    }
    #arrow {
        display: block;
        margin: auto;
        position: relative;
        cursor: pointer;
        top: 15.5rem;
        opacity: 0;
        animation: slide-in 1.5s ease-in .7s forwards;
        path {
            fill: white;
            &:active {
                fill: $secondary;
            }
        }
    }

}
.tile-background {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    img {
        width: 20%;
        height: 25%;       
    }
}
/*---------- ------ ----------------*/
.nav-sect {
    height: 100vh;
    h3 {
        font-family: 'Bad Script', cursive;
        text-align: center;
        margin: 2.5rem 0;
        font-size: 1.75rem;
    }
    .flex-items {
        display: flex;
        justify-content: space-between;
        background-color: $tertiary;
        width: 70%;
        height: 4rem;
        margin: 2rem auto;
        padding: .4rem 1.5rem;
        border-radius: .25rem;
        color: white;
        &:active {
            border: 3px dashed $secondary;
            border-radius: 3.5rem;
            transform: scale(1.3);
        }
        span {
            margin-top: .5rem;
        }
    }

}
.about-sect {
    height: 100vh;
    padding: .5rem;
    background-color: rgb(246, 255, 242);
    border-top: 1px solid black;
    
    h1 {
        // text-shadow: 1px 1px 2px $tertiary;
        font-family: 'Bad Script', cursive;
        font-size: 2.4rem;
        margin-top: .5rem;
    }
    img {
       float: left;
        margin: .5rem 1rem .2rem 0;
        width: 55%;
        border: 3px solid $tertiary;
    }

    p:nth-child(2) {   
        font-weight: bold;
        margin-top: .75rem;
    }
}
