/* ----- universal styles ------ */
* {
    box-sizing: border-box;
    hyphens: auto;
    font-family: 'Fira Sans', sans-serif;
}
main {
    scroll-behavior: smooth;
}
a:hover {
    text-decoration: none;
}
/*-------------------------------------*/
/*------ project modal styles ---------*/
#exampleModal {
    padding: 0 !important;
    .modal-header {
        background-color: $primary;
        span {
            color: white;
            font-weight: bold;
        }
    }
    .modal-body {
        padding-bottom: 0 !important;
        span {
            font-size: .9rem;
        }
        p, 
        span {
            margin: .75rem auto;
            max-width: 350px; 
            @media (min-width: $tablet) {
                font-size: 1rem;
            }
        }
    }
    p,
    span,
    #modal-pic {
        display: block;
    }

    #modal-pic {
        margin: 0 auto 1rem auto;
        width: 100%;
        max-width: 400px;
    }
    .modal-footer {
        display: flex;
        justify-content: space-around;
        a {
            display: flex;
            justify-content: center;
            img {
                border-radius: 2.75rem;
                box-shadow: 0 0 12px $secondary;
                width: 60%;
                transition: transform .1s ease;
                &:active {
                    transform: scale(1.2);
                }
            }
        }       
    }
}
/*-----------------------------------------------------*/
/*------------ top page overlay styles-----------------*/
.overlay {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(41, 41, 41, 0.94);  
    h1,
    h2,
    h3 {
        text-align: center;
        position: relative;
        color: white;
        text-shadow: 6px 6px 16px $secondary;
        animation: fade .75s ease-in;
    }
    h1 {
        top: 4.5rem;       
        letter-spacing: .25rem;
        font-size: 4rem;
        margin: 2.5rem .5rem;
        @media (min-width: $tablet) {
            font-size: 5rem;
        }
    }
    h2 {
        font-size: 1.35rem;
        @media (min-width: $tablet) {
            font-size: 1.75rem;
        }
    }
    h3 {
        font-size: 1.1rem;
        @media (min-width: $tablet) {
            font-size: 1.25rem;
        }
    }
    h2,
    h3 {
        letter-spacing: .2rem;
        margin: 1rem 0;
        top: 6rem;
    }
    #arrow {
        display: block;
        margin: auto;
        position: relative;
        cursor: pointer;
        top: 12.5rem;
        opacity: 0;
        animation: slide-in 1.5s ease-in .7s forwards;
        border: 2px solid $secondary;
        border-radius: 1rem;
        padding: .75rem;
        path {
            fill: white;
            &:active {
                fill: $primary;
            }
        }
        @media (min-width: 321px) {
            top: 15.5rem;
        }
    }
}
.tile-background {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    img {
        width: 20%;
        height: 20%;       
    }
}
/*--------------------------------*/
/*--------- PAGE STYLES ----------*/
.nav-sect,
.about-sect,
.skills-sect,
.overlay {
    @media (min-width: $tablet) {
        height: 100vh;
    }
    @media (min-width: $tablet) and  (min-height: 1023px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.overlay h1 {
    @media (min-width: $tablet) and  (min-height: 1023px) {
        top: 0;
    }
}
.about-sect,
.skills-sect,
.port-sect,
.contact-sect {
    padding: 1.5rem .5rem;
    border-top: 1px solid black; 
    @media (min-width:$tablet) {
        padding: 2.5rem .75rem;
    }
}
h1 {
    font-family: 'Bad Script', cursive;
}
p {
    font-size: .9rem;
}
/*--------- ---------------------- ----------*/
/*--------- Navigation section styles ----------*/
.flex-items {
    cursor: pointer;
    &:active {
        box-shadow: inset 0px 0px 18px white;
    }
}
.nav-sect {
    padding: 1.25rem 0;
    margin: 0 auto;
    max-width: 590px;
    @media (min-width: $tablet) {
        padding: 2.5rem 0;
    }
    h3 {
        font-family: 'Bad Script', cursive;
        text-align: center;
        font-size: 1.75rem;
        @media (min-width: $tablet) {
            font-size: 2.5rem;
        }
    }
    .flex-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(80, 113, 156, 0.97);
        width: 70%;
        height: 4rem;
        margin: 2.25rem auto;
        padding: .4rem 1.5rem;
        border-radius: .25rem;
        color: white;
        @media (min-width: $tablet) {
            width: 85%;
            margin: 1.3rem auto;
            height: 4.75rem;
        }
        // @media (min-width: $desktop) {
        //     width: 85%;
        // }
        span {
            font-family: 'Bad Script', cursive;
            font-size: 1.3rem;
            @media (min-width: $tablet) {
                font-size: 1.75rem;
            }
        }
        #globe-svg {
            width: 70px; 
            height: 40px;
            position: relative;
            top: .1rem;
            left: .35rem;
            @media (min-width: $tablet) {
                height: 50px;
            }
        }
        #bulb-svg {
            width: 70px; 
            height: 50px; 
            position: relative;
            left: .45rem;
            bottom: .35rem;
            @media (min-width: $tablet) {
                height: 60px;
            }
        }     
        #port-svg {
            width: 50px; 
            height: 50px;
            @media (min-width: $tablet) {
                width: 60px;
                height: 60px;
            }
        }
        #phone-svg {
            width: 50px; 
            height: 40px;
            @media (min-width: $tablet) {
                height: 50px;
            }
        }
        #git-svg {
            width: 60px; 
            height: 45px;
            @media (min-width: $tablet) {
                height: 55px;
            }
        }
    }
}
/*--------- ---------------------- ----------*/
/*--------- About Me section styles ----------*/
.about-sect {   
    background-color: rgb(228, 242, 255);
    h1 {
        text-align: center;
        font-size: 2.2rem;
        @media (min-width: $tablet) {
            font-size: 3.25rem;
            margin-bottom: 2.5rem;
        }
    }
    p {
        @media (min-width: $tablet) {
            font-size: 1.1rem;
        }
    }
    img {
        float: left;
        margin: .5rem 1rem .2rem 0;
        width: 55%;
        border: 2px solid $secondary;
        max-width: 260px;
        @media (min-width: $tablet) {
            margin: .5rem 1.75rem 1.25rem 0;
        }
    }   
    p:nth-child(2) {   
        font-weight: bold;
        margin-top: .75rem;
    }    
}
.about-content,
.skills-content {
    max-width: 675px;
    margin: 0 auto;
}
/*--------- ---------------------- ----------*/
/*--------- Skills section styles ----------*/
.skills-sect {
    background:url('../img/skills.jpg');
    background-size: 100%;
    box-shadow:inset 0 0 0 2000px rgba(80, 113, 156, 0.97);
    p:nth-of-type(1) {
        font-size: 1.05rem;
        margin: 1.25rem 0;
        @media (min-width: $tablet) {
            margin: 1.5rem 0;
            font-size: 1.2rem;
        }
    }
    h1 {
        text-align: center;
        @media (min-width: $tablet) {
            font-size: 3.25rem;
        }
    }
    h1,
    p {
        color: white;
    }
    p {
        text-align: left;
    }
    img {
        width: 37.5%;
        max-width: 180px;
        display: block;
        margin: 2rem auto 0 auto;
        box-shadow: 0px 0px 16px white;
        border-radius: .5rem;
        @media (min-width: $tablet) {
            margin: 0;
        }
    }
    ul {
        color: white;
        font-size: .9rem;
        @media (min-width: $tablet) {
            padding: 0;
        }
        li {
            margin-top: .4rem;
        }
    }
    p,
    ul {
        @media (min-width: $tablet) {
            font-size: 1.05rem;
        }
    }
    .flex-items {
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
            margin-top: 3rem;
        }
    }
}
/*--------- ---------------------- ----------*/
/*--------- Portfolio section styles ----------*/
.port-sect {
    border-top: 2px solid black;
    .flex-projects {
        @media (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    h1,
    h2 {
        text-align: center;
    }
    h1 {
        margin-top: 1.25rem;
        @media (min-width: $tablet) {
            font-size: 3.5rem;
            margin: 0 0 2.5rem 0;
        }
    }
    h2 {
        margin: 2rem 0 1rem 0;
        font-size: 1.1rem;
        @media (min-width: $tablet) {
            margin: 2.5rem 0 2rem 0;
        }
    }
    img {
        display: block;
        width: 100%;
    }
    p {
        font-size: 1rem;
    }
    .project img,
    .project {
        height: 25%;
        max-width: 300px;
        @media (min-width: $tablet) {
            height: 225px;
            max-width: 360px;
        }
    }
    .project {
        position: relative;
        width: 70%;
        box-shadow: 0px 0px 18px $secondary;
        transition: transform .4s ease;
        margin: 1rem auto;
        cursor: pointer;
        @media (min-width: $desktop) {
            width: 80%;
        }
    }
    .project-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(73, 164, 224, 0.85);
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        opacity: 0;
        transition: opacity .3s ease-in;
        p {
            margin: 1rem 0 2rem 0;
            font-size: 1rem;
        }
    }
    .project:active {
        transform: translateY(8px);
    }
    .project:active .project-overlay {
        opacity: 1;
    }
}
.site-underlay {
    color: white;
    background:url('../img/mac.jpeg');
    background-size: 400px;
    box-shadow:inset 0 0 0 2000px rgba(80, 113, 156, 0.94);
    border-top: 1px solid black;
    padding: 1rem 0;
    .this-site {   
        padding: 1.5rem 0;
        @media (min-width: $tablet) {
            padding: 3rem 0;
        }
        .this-site-content {
            text-align: center;
            width: 80%;
            margin: 0 auto;
            max-width: 475px;
            a {
                display: inline;
            }
            p {
                @media (min-width: $tablet) {
                    font-size: 1.1rem;
                    margin: 2.5rem 0;
                }
            }
            h2 {
                font-family: 'Bad Script', cursive;
                font-size: 1.5rem;
                @media (min-width: $tablet) {
                    font-size: 2.35rem;
                }
            }
            img {
                margin: 0 auto;
                border-radius: 2.4rem;
                box-shadow: 0px 0px 20px $secondary;
                width: 16%;
                max-width: 250px;
                transition: transform .1s ease;
                &:active {
                    transform: scale(1.2);
                }
            }
        }       
    }
}   

/*--------- ---------------------- ----------*/
/*--------- Contact section styles ----------*/
.contact-sect {
    h1 {       
        text-align: center;
        @media (min-width: $tablet) {
            font-size: 3rem;
            margin-bottom: 3rem;
        }
    }
    p {
        font-size: 1rem;
        display: block;
        text-align: center;
        @media (min-width: $tablet) {
            font-size: 1.2rem;
        }
    }
    form {
        display: block;
        max-width: 500px;
        margin: 2rem auto;
        button {
            padding: .35rem .75rem;
            background-color: white;
            border: 2px solid $primary;
            border-radius: .5rem;
            display: block;
            margin: 0 auto;
            color: black;
            @media (min-width: $tablet) {
                font-size: 1.1rem;
            }
        }
    }
    a {
        display: block;
        text-align: center;
        margin: 2.25rem 0;
    }
}
/*--------- ---------------------- ----------*/
/*------------- Footer styles ---------------*/
footer {
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: $secondary;
    font-size: .9rem;
    a {
        color: white;
        @media (min-width: $tablet) {
            font-size: 1.1rem;
        }
    }
    span {
        color: white;
    }
}
/*--------- ---------------------- ----------*/
/*---------- Sticky footer styles -----------*/
.sticky-footer {
    display: flex;
    align-items: center;
    height: 2.25rem;
    background-color: $secondary;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 2.5rem);   
    transition: transform .25s ease-in;
    &:active {
        box-shadow: inset 0px 0px 20px white;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        transform: translate(0, 0);
    }
    a {
        display: block;
        text-align: center;
        width: 100%;
        color: white;
    }
}
.slide {
    transform: translate(0, 0rem);
}
/*--------- ---------------------- ----------*/