$primary: rgb(80, 113, 156);
$secondary: rgb(92, 192, 238);

$darken-top: darken(#F8EC7D,30%);
$darken-body: darken(#E48E66,15%);
$lighten-lines: lighten(#AF593C,40%);

$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1324px;