/*- -----COLOURS----- -*/
$primary: rgb(80, 113, 156);
$secondary: rgb(92, 192, 238);

$darken-top: darken(#F8EC7D,35%);
$darken-body: darken(#E48E66,25%);
$lighten-lines: lighten(#AF593C,40%);

/*- -----BREAKPOINTS----- -*/
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1324px;